@import '//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css';

/*
  Border box sizing with appropriate inheritance
  http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Add 100% height so we can have elements scale fluidly vertically*/
body, html {
  height: 100%;
}

body {
  background: #0f0f0f;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #eee;
}

.logo {
  width: 66%;
  float: left;
  height: 100%;
  background-image: url(../img/logo.png);
  background-size: contain;
  background-position: center center;
  text-indent: -100%;
  background-repeat: no-repeat;
}

@media all and (max-width: 768px) {
  .logo {
    height: 50%;
    max-height: 300px;
    float: none;
    width: 100%;
  }
}

.content {
  position: absolute;
  top: 50%;
  right: 0;
  width: 34%;
  height: 300px;
  margin: -150px 0 0;
}

@media all and (max-width: 768px) {
  .content {
    position: static;
    margin: 0;
    width: 100%;
    padding: 24px;
  }
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0 0 12px;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
}

.calendar {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  padding-top: 42px;
  overflow: hidden;
}

@media all and (max-width: 768px) {
  .calendar {
    position: static;
    height: auto;
    padding: 0;
  }
}

.calendar ul {
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.calendar ul li {
  padding: 0;
  margin: 0 0 12px;
}

.calendar ul li .date {
  font-size: 12px;
  color: #aaa;
  font-style: italic;
}

.calendar ul li .location {
  font-size: 12px;
}
